.header {
    display: flex;
    margin: 3.3rem 3.3rem 0 3.3rem;
    justify-content: space-between;
    &__text-box {
        display: flex;
        justify-content: space-between;
        font-family: "Montserrat";
        font-size: 1.5rem;
        width: 30%;
        letter-spacing: 1.5px;
    }
    &__text-link:visited,
    &__text-link:link {
        text-decoration: none;
        color: var(--color-dark);
    }
}